 <!-- sidebar -->
 <div class="sidebar" id="sidebar">
  <% if (route === 'blogs') { %>
   <div class="custom-list" id="most-read">
      <ul class="collection with-header">
         <li class="collection-header center">
            <h5>Most Read</h5>
         </li>
         <% if (typeof mostread !== "undefined") { %>
          <% for(let i=0;i<mostread.length;i++) { %>
           <a href="/<%= route %>/<%=mostread[i].id%>" title="<%= mostread[i].title %>"
              class="collection-item"> <%= mostread[i].title.substring(0,25) %>...</a>
          <% } %>
         <% } %>
      </ul>
   </div>
  <% } else {%>
   <%# semesters %>
   <div class="hide-on-med-and-down semdropdown">
      <a href="#" class='dropdown-trigger btn custom-color lighten-2 waves-effect' data-target='semesters'>
         Filter by Semester <i class="material-icons">arrow_drop_down</i>
      </a>
      <ul class="dropdown-content" id="semesters">
         <li> <a href='#!' title='first' class=" semester"> 1st Semester</a> </li>
         <li> <a href='#!' title='second' class=" semester"> 2nd Semester</a> </li>
         <li> <a href='#!' title='third' class=" semester"> 3rd Semester</a> </li>
         <li> <a href='#!' title='fourth' class=" semester"> 4th Semester</a> </li>
         <li> <a href='#!' title='fifth' class=" semester"> 5th Semester</a> </li>
         <li> <a href='#!' title='sixth' class=" semester"> 6th Semester</a> </li>
         <li> <a href='#!' title='seventh' class=" semester"> 7th Semester</a> </li>
         <li> <a href='#!' title='eighth' class=" semester"> 8th Semester</a> </li>
      </ul>
   </div> 
  <% } %> 

  <!-- recent posts -->
  <div class="<%= route ==='ebooks' ? 'custom-list hide-on-small-and-down' : 'custom-list' %> " id="recent">
     <ul class="collection with-header">
        <li class="collection-header center">
           <h5>Recent Uploads</h5>
        </li>
        <% for( let data of recents) { %>
         <a href="/<%= route %>/<%=data.id%>" title="<%= data.title %>"
            class="collection-item"> <%= data.title.substring(0,25) %>...</a>
        <% } %>
     </ul>
  </div>

  <!-- categories -->
  <div class="custom-list" id="categories">
     <div class="center categories-title">
        <h5><%= route ==='blogs' ? 'Categories' : 'Departemts'%></h5>
     </div>
     <% if (route === 'ebooks') { %>
      <%# department lists %> 
      <%- include ('./deptlist') -%> 
     <% }else { %>
      <%# department lists %> 
      <%- include ('./blog_topics') -%> 
     <% } %> 
  </div>
</div>
