<%# header %> 
<%- include ('./layouts/header',{title: "Home", route:'home'}) -%> 

<!-- preloader -->
<%- include ('./partials/preloader') -%> 
<%# top nav %> 
<%-include ('./partials/user_nav') -%>
<!-- main nav -->
<%- include ('./partials/user_navbar',{route:'home'}) -%>

<!-- slide -->
<section class="section section-slider center deep-blue">
  <div class="slider">
    <ul class="slides" id="myslide">
      <li>
        <img src="images/bgbook1.jpg" alt="images" />
        <div class="caption right-align">
          <h4>
            “Good friends, good books, and a sleepy conscience: this is the ideal life.”
          </h4>
          <h5>― Mark Twain</h5>
        </div>
      </li>
      <li>
        <img src="images/bgbook3.jpg" alt="images" />
        <div class="caption left-align">
          <h4>
            “If you only read the books that everyone else is reading, you can only think
            what everyone else is thinking.”
          </h4>
          <h5>― Haruki Murakami</h5>
        </div>
      </li>
      <li>
        <img src="images/bgbook2.jpg" alt="slider background" />
        <div class="caption center-align">
          <h4>
            “Only the very weak-minded refuse to be influenced by literature and poetry.”
          </h4>
          <h5>― Cassandra Clare</h5>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- departments -- ebooks -->
<section id="departments" class="custom-color lighten-1">
   <div class="container slider-container">
      <h5 class="center slider-title">All Departments</h5>
      <div class="glider-contain">
        <div class="glider departments">
          <% for( dept of depts ) { %>
            <div class="department" style="border: 1px dotted #f3f3f3;margin: 0 .5rem;">
               <img class="responsive-img" 
               src="/images/depts/<%= dept.shortName.toLowerCase() %>.png" alt=<%= dept.name %>   />
               <div class="dept-body">
                  <h5><%= dept.name %></h5>
                  <p>Ebooks: <%= dept.totalBooks %></p>
                  <a href="/ebooks/<%= dept.shortName %>" 
                   class="btn waves-effect waves-light">View</a>
               </div>
             </div>
          <% } %>
        </div>

        <button aria-label="Previous" class="glider-prev" title='prev' >«</button>
        <button aria-label="Next" class="glider-next" title='next' >»</button>
      </div>
    </div>
</section>

<!-- features -->
<section class="section section-features center custom-color">
  <div class="container">
      <h5 class="white-text"> Features </h5>
      <div class="row white-text">
          <div class="col s12 m4">
              <div class="card-panel whitish mycard">
                  <i class="material-icons medium">book</i>
                  <a href='/ebooks' class="title-section" title='visit link'>eBooks</a>
                  <p>Download ebooks of your prefered subjects</p>
              </div>
          </div>
          <div class="col s12 m4">
              <div class="card-panel whitish mycard">
                  <i class="material-icons medium">chrome_reader_mode</i>
                  <a href='/journals' class="title-section" title='visit link'>Journals</a>
                  <p>Read journals written by CoU Graduates</p>
              </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel whitish mycard">
                <i class="material-icons medium">web</i>
                <a href='/blogs' class="title-section" title='visit link'>Blogs</a>
                <p>Read or write blogs about different topics</p>
            </div>
        </div>
      </div>
      <div class="row white-text">
          <div class="col s12 m6">
            <div class="card-panel whitish mycard">
              <i class="material-icons medium">import_contacts</i>
              <a href='/journals' class="title-section" title='visit link'>Research Papers</a>
              <p>Papers from CoU Graduates of many topics</p>
            </div>
          </div>
          <div class="col s12 m6">
              <div class="card-panel whitish mycard">
                  <i class="material-icons medium">local_library</i>
                  <a href='/study' class="title-section" title='visit link'>Study Materials</a>
                  <p>Video Lecture & resourceful website links</p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- testimonial -->
<section id="testimonial" class="custom-color lighten-1">
  <div class="container">
    <h5 class="center white-text"> Testimonials </h5>
    <div class="slider custom-color lighten-1">
      <ul class="slides custom-color lighten-1">
        <li>
          <div class="testimonial">
            <div class="side">
              <img src="/images/couits1.png" alt="Testimonials">
            </div>
            <div class="info">
              <h5 class='testimony'>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto minima enim in ex optio ullam, 
                ratione incidunt eveniet placeat sit, hic explicabo ea doloribus quae.
              </h5>
              <h4>Name of Advisor</h4>
              <h5 class='desig'>Designation</h5>
              <h5 class='desig'>Department of XYZ</h5>
            </div>
          </div>
        </li>
        <li>
          <div class="testimonial">
            <div class="side">
              <img src="/images/couits1.png" alt="Testimonials">
            </div>
            <div class="info">
              <h5 class='testimony'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, quas ullam? Voluptate vel a sapiente.
              </h5>
              <h4>Name of Advisor 2</h4>
              <h5 class='desig'>Designation 2</h5>
              <h5 class='desig'>Department of XYZ</h5>
            </div>
          </div>
        </li>
        <li>
          <div class="testimonial">
            <div class="side">
              <img src="/images/couits1.png" alt="Testimonials">
            </div>
            <div class="info">
              <h5 class='testimony'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro neque at doloremque, amet ut maxime fugiat natus libero labore! Et.
              </h5>
              <h4>Name of Advisor 3</h4>
              <h5 class='desig'>Designation 3</h5>
              <h5 class='desig'>Department of XYZ</h5>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- section: developers -->
<section class="section section-dev center">
  <div class='container devs'>
      <h5 class="white-text">Our Team</h5>
      <div class="row">
<% let social1 = {FB:'shihab.uddin17',GH:'Farhashihab',LI:'farhanshihab'} %> 
<% let social2 = {FB:'nayeemsuchan',GH:'nayeem101',LI:'najmul-islam-nayeem-575081164'} %> 
<% let social3 = {FB:'akibhasan19',GH:'Akibhasan19',LI:'akib-hasan-3ba4061a3'} %>
<% let dev1 = {name:'MD. Shihab Uddin', desig:'Founder & Team Lead', social:social1, img:'/images/persons/shihab.jpeg'} %> 
<% let dev2 = {name:'Najmul Islam Nayeem', desig:'Full Stack Web Developer',social:social2, img:'/images/persons/nayeem.jpg'} %> 
<% let dev3 = {name:'MD. Akib Hasan', desig:'Graphic Designer & Data Entry',social:social3, img:'/images/persons/akib.jpg'} %> 
<% let developers = [dev1,dev2,dev3] %>
        <% for (let dev of developers) { %> 
          <div class="col s12 m4">
            <div class="card-panel devcard white-text">
                <img src="<%= dev.img -%>" alt="Team Member" class="circle responsive-img" />
                <h5><%= dev.name -%></h5>
                <h6><%= dev.desig -%></h6>
                <p>Department: ICT</p>
                <a href="https://facebook.com/<%= dev.social.FB %>" title='facebook profile' target='_blank' >
                  <i class="icon-social-facebook"></i>
                </a>
                <a href="https://github.com/<%= dev.social.GH %>" title='github profile' target='_blank' >
                  <i class="icon-social-github"></i>
                </a>
                <a href="https://linkedin/in/<%= dev.social.LI %>" title="linkedin profile" target='_blank'>
                  <i class="icon-social-linkedin"></i>
                </a>
            </div>
          </div>
        <% } %> 
      </div>
  </div>
</section>
<%# contact section %> 
<%- include ('./partials/user_contact') -%> 

<!-- glider js -->
<script src="/javascripts/glider.min.js"></script>
<script>
   new Glider(document.querySelector(".glider"), {
      slidesToShow: 1,
      slidesToScroll: 1,
      itemWidth: 200,
      draggable: true,
      arrows: {
         prev: ".glider-prev",
         next: ".glider-next",
      },
      responsive: [
         {
            // screens greater than >= 775px
            breakpoint: 600,
            settings: {
               slidesToShow: 3,
               slidesToScroll: 2,
               duration: 0.5,
            },
         },
         {
            // screens greater than >= 1024px
            breakpoint: 1024,
            settings: {
               slidesToShow: 4,
               slidesToScroll: 4,
               itemWidth: 150,
               duration: 0.5,
            },
         },
      ],
   });
</script>
<%# footer %> 
<%-include ('./layouts/footer') -%>
