<!-- header -->
<%- include ('../layouts/header',{title:'Journals'}) -%> 
<!-- preloader -->
<%- include ('../partials/preloader') -%> 
<!-- top nav  -->
<%- include ('../partials/user_nav',{isLogedIn}) -%> 
<!-- main nav -->
<%- include ('../partials/user_navbar',{route:'journals'}) -%> 

 <section id="journals">
  <h4 class="center-align title-section">Journals</h4>
  <div class="container journal-container">
     <% for( let journal of data.docs ) { %>
      <!-- single journal -->
     <div class="single-journal">
        <div class="img-container">
           <img
              class="responsive-img"
              src="<%= journal.image %>"
              alt="<%= journal.author %>"
              title="<%= journal.author %>"
           />
        </div>
        <div class="journal-body">
           <h5 class="journal-title"><%= journal.title %></h5>
           <p><span>Type:</span> <%= journal.type %></p></p>
           <p><span>By:</span> <%= journal.author %> (Batch: <%= journal.authorBatch %>)
            <span class="social-media" style="margin-left: 1rem;">
            <%# author social media %> 
            <% for (let social of journal.socialLinks) {%>
              <% if (social.link.length !== 0) { %>  
                 <a href="<%= social.link %>" target='_blank' 
                    style="font-size:1.5rem;color: #7fcac9;" title="<%= social.media %> profile" >
                    <i class="icon-social-<%= social.media %>"></i>
                 </a>
              <% } %>
            <% } %>
            </span>
            </p>
           <p><span>Occupation:</span> <%= journal.occupation %></p>
           <p><span>Publised in:</span> <%= journal.journalName %> </p>
           <p><span>Publised at:</span> <%= journal.publishedAt.toDateString() %></p>
           <p class='flow-text'><span>Description:</span
            > <%= typeof journal.description !== 'undefined' ? journal.description : 'No description available' %></p>
     
            <a href="<%= journal.journalLink %>" target="_blank" title='Read Journal'
                class="btn waves-effect waves-light read-btn">Read</a>
        </div>
     </div>
     <% } %>
    
  </div>
</section>

<!-- paginition -->
<%- include ('../partials/user_paginate',{pages: data.pages, page: data.page}) -%> 

<!-- contact -->
<%- include ('../partials/user_contact',{route:'journals'}) -%> 

<!-- footer -->
<%- include ('../layouts/footer') -%> 